body {
    background-color: black;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    text-align: center;
    color: white;
}

section{
    display: flex;
    justify-content: center;
}


.tile{
    display: flex;
    border: 1px solid white;
    min-height: 100px;
    min-width: 100px;
    align-items: center;
    color: white;
    font: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    justify-content: center;
    
}

footer{
    text-align: center;
    margin-top: 50px;
}

button{
    background-color: red;
    margin: auto;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}